{% extends 'base.html' %} 
{% block title %}About Me{% endblock title %}

{% block content %}
<h1>Welcome to About page</h1>
<p>
  Hey there! I’m [Your Name], the fun-loving creator behind this quirky blog.
  With a passion for all things lighthearted, I aim to bring a smile to your
  face and a chuckle to your day. Whether I’m hunting down the latest memes,
  sharing my favorite funny stories, or exploring the bizarre corners of the
  internet, my goal is to create a little oasis of joy amidst life’s hustle and
  bustle. When I’m not blogging, you’ll find me binge-watching comedies,
  experimenting with new recipes (that sometimes don’t turn out as planned), or
  hanging out with my mischievous pet. I believe laughter is the best medicine,
  and I can’t wait to share this adventure with you—so let’s have some fun
  together!
</p>

{% endblock content%}
