{% extends 'base.html' %} 
{% block title %}Blog{% endblock title %}

{% block content %}
<h1>Welcome to Blogs page</h1>
<p>
  Welcome to our fun corner of the internet, where laughter is the main
  ingredient! Here, we dive into quirky topics, share hilarious anecdotes, and
  explore the lighter side of life. Whether it’s the latest viral memes, bizarre
  news stories, or just a collection of our favorite dad jokes, we’re all about
  spreading smiles and good vibes. Join us as we embark on a whimsical journey
  filled with entertaining content that’s perfect for a quick escape from the
  everyday grind. So grab a snack, get comfy, and let’s make the world a little
  brighter, one giggle at a time!
</p>

{% endblock content %}
